h1 {
  font-size: 29.03px;
  line-height: 32px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-size: 24.19px;
  line-height: 28px;
}

.wrapper {
  gap: 0;
  padding: 0;
  max-width: none;
}

header {
  padding: 24px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

header > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  header {
    padding: 24px 32px 40px 32px;
  }
}

.article-container {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
}

#article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 17.5px;
  line-height: 28px;
  padding: 40px 64px 160px 64px;
}

@media only screen and (max-width: 800px) {
  #article {
    padding: 40px 20px 80px 20px;  
  }
}

#article > h2, h3, h4, h5 {
  margin-top: 24px;
  margin-bottom: -8px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .footer {
    padding: 20px;
    padding-top: 32px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
}