h1 {
  font-size: 29px;
  line-height: 40px;
}

h2, h3, h4, h5, h6 {
  font-size: 20px;
  line-height: 28px;
}

.wrapper {
  gap: 0;
  max-width: 650px;
  margin: 0 auto;
}

nav {
  width: 100%;
}

nav > a {
  display: flex;
  border-top: 0.5px #2c2921 solid;
  line-height: 32px;
  font-style: italic;
  width: 100%;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

header > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

header > section > p.date {
  font-size: 14px;
  line-height: 20px;
}

#article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 17px;
  line-height: 24px;
  padding-top: 60px;
  padding-bottom: 120px;
}

#article > h2, h3, h4, h5 {
  margin-top: 40px;
  margin-bottom: -4px;
}

.footer {
  display: flex;
  width: 100%;
}