* {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  color: #2c2921;
  background-color: #e6e5e0;
  font-family: "Times", serif;
}

body {
  font-size: 14px;
  line-height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 60px;
  padding: 20px 40px 40px 40px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 20px;
    max-width: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.name-container {
  background-color:#2c2921;
  color:#e6e5e0;
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-style: italic;
  width: 100%;
  margin-bottom: 8px;
  padding-left: 14px;
  margin-left: -14px;
}

@media only screen and (max-width: 800px) {
  .name-container {
    padding-left: 20px;
    margin-left: -20px;
  }
}

h1.name {
  font-size: 14px;
  line-height: 32px;
}


h2, h3, h4, h5, h6 {
  font-size: 14px;
  line-height: 32px;
}

ol, ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

ol {
  padding-left: 24px;
}

ul {
  padding-left: 16px;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: inherit;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  width: 14px;
  margin-left: -14px;
}

a {
  color: inherit;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

tr {
  vertical-align: top;
}

td {
  padding-bottom: 8px;
}

tr > td:first-child {
  width: 110px;
  padding-right: 32px;
  white-space: nowrap;
}

section {
  border-top: 0.5px #2c2921 solid;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

section:first-of-type {
  border-top: none;
}

section > .content {
  max-width: 450px;
}

section > .content.articles,
section > .content.thoughts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section > .content.articles > * {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0 6px;
}

section > .content.articles > * > p.date {
  font-size: 10px;
  line-height: 20px;
}

.mini {
  font-size: 10px;
  line-height: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
  width: 100%;
}

footer > div.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

#logo {
  height: 36px;
  width: 36px;
  margin-right: -8px;
  margin-bottom: -4px;
}

@media only screen and (max-width: 800px) {
  #logo {
    height: 32px;
    width: 32px;
  }
}